
.container {

  height: 20rem;
}

.container img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar tanto horizontal como verticalmente */
}

h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-bottom: 50px;
  text-transform: uppercase;
}
